<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Test Configuration</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../static/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../static/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
		<script type="text/javascript" src="../static/scripts/jquery.min.js"></script>
		<script src="../static/scripts/FileSaver.js"></script>
            <script type="text/javascript" src="../static/scripts/ichart.1.2.1.min.js"></script>
		<script type="text/javascript">
				$(document).ready(function(){
                    var labels={{ labelArr|safe }};
                    var values={{ numArr|safe }};
                    if(labels.length!=0){
                        $("#pic").append("<div id='canvasDiv' style='display:inline;'></div>");
                    var data = [
                        {
                            name: 'Frequence',
                            value: values,
                            color: '#aad0db',
                            line_width: 2
                        }
                    ];

                    var chart = new iChart.LineBasic2D({
                        render: 'canvasDiv',
                        data: data,
                        width: 400,
                        height: 350,
                        title : {
				        text:'Duration with Different Frequencies ',
				        fontsize:12,
				        color:'#000000'
			            },
			        subtitle : {
                            fontsize:10,
				        text:'x-coordinate: frequency|y-coordinate: duration',
				        color:'#333333'
			        },
                        background_color: '#FEFEFE',
                        tip: {
                            enable: true,
                            shadow: true,
                            move_duration: 400,
                            border: {
                                enable: true,
                                radius: 5,
                                width: 2,
                                color: '#3f8695'
                            },
                            listeners: {
                                //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
                                parseText: function (tip, name, value, text, i) {
                                    return "Latency:" + value;
                                }
                            }
                        },
                        crosshair: {
                            enable: true,
                            line_color: '#62bce9'//十字线的颜色
                        },
                        sub_option: {
                            label: false,
                            point_size: 10
                        },
                        coordinate: {
                            width: 240,
                            height: 200,
                            axis: {
                                color: '#dcdcdc',
                                width: 1
                            },
                            scale: [{
                                position: 'left',
                                start_scale: 0,
                                end_scale: Math.max(values),
                                scale_space: Math.max(values) / 10,
                                scale_size: 2,
                                scale_color: '#9f9f9f'
                            }, {
                                position: 'bottom',
                                labels: labels
                            }]
                        }

                    });

                    //开始画图
                    chart.draw();
                    $("#pic").addClass("card");
                    $("#pic").addClass("card-small ");
                    $("#pic").addClass("mb4")
                    {#$("#pic").append("<button type='button' id='viewbtn' class='btn btn-accent' style='width:100px;bottom:5%'>View Report</button>");#}
                    {#$("#pic").append("<br>");#}
                    $("#viewbtn").click(function(){
                        window.location.href = "/throughput";
                    });
                    }
				});
		</script>
  </head>
  <body class="h-100">

    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="../static/images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">PerTether</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link " href="/experiment">
                  <i class="material-icons">table_chart</i>
                  <span>Ethereum Configuration</span>
                </a>
              </li>
                <li class="nav-item">
							  <a class="nav-link " href="/testConfig">
							    <i class="material-icons">note_add</i>
							    <span>Test Configuration</span>
							  </a>
                </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
              </form>
<!--              <ul class="navbar-nav border-left flex-row " style="float: right">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link text-nowrap px-3" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <img class="user-avatar  mr-2" src="images/avatars/file.png" alt="User Avatar">
                      <span class="d-none d-md-inline-block">File</span>
                    </a>
                  </li>
                </li>
                <li class="nav-item ">
                  <a class="nav-link text-nowrap px-3" href="experiment.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar  mr-2" src="images/avatars/experiment.png" alt="User Avatar">
                    <span class="d-none d-md-inline-block">Experiment</span>
                  </a>
                </li>
              </ul> -->
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4 mb-3 border-bottom">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <!--<span class="text-uppercase page-subtitle">Overview</span>-->
                <h3 class="page-title">Configuration</h3>
                <!--(Tips:If you enter multiple values, please separate them with spaces.)-->
              </div>
            </div>
            <!-- End Page Header -->
              <div class="row" >
			  <div class="col-lg-6" style="height: 380px;">
                <div class="card card-small mb-4">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form name="input" action="/testConfig/" method="post">
                            <br>
                              <div class="form-row">
                                  <span><b>&nbsp;&nbsp;Start tps</b></span>
                              </div>
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                  <input type="number" name="startTps" min="2" class="form-control" id="startTps" placeholder="Start tps" required="required">
                              </div>
                            </div>
                              <div class="form-row">
                                  <span><b>&nbsp;&nbsp;Finish Tps</b></span>
                              </div>
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                  <input type="number" name="finishTps" min="4" class="form-control" id="finishTps" placeholder="Finish tps" required="required">
                              </div>
                            </div>
                              <div class="form-row">
                                  <span><b>&nbsp;&nbsp;Duration</b></span>
                              </div>
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                  <input type="number" name="duration" min="60" step="60" class="form-control" id="duration" placeholder="Duration" required="required">
                              </div>
                            </div>
                              <div class="form-row">
                                  <span><b>&nbsp;&nbsp;Smart Contract</b></span>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col-md-12">
										<select name="smartcontract" id="smartcontract"  class="form-control">
                                            <option value="HelloWorld">HelloWorld</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                </div>
                              </div>

                            <button type="submit" class="btn btn-accent" style="width: 100px">Start</button>
                              <button type='button' id='viewbtn' class='btn btn-accent' style="float: right; width:100px;">View Report</button>

                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
                  <div id="pic" class="col-lg-6" style="height: 380px;">

{#                      <button type='submit' class='btn btn-accent'>Next</button>#}
                  </div>

              </div>
            <!-- End Default Light Table -->
          </div>


          <footer class="main-footer d-flex bg-white border-top">

            <span class="copyright " style="text-align: center; margin: 30px 450px;">Copyright © 2019 </span>
          </footer>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="../static/scripts/extras.1.1.0.min.js"></script>
    <script src="../static/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="../static/scripts/app/app-components-overview.1.1.0.js"></script>
  </body>
</html>